<div class="all_comments">
	<li>
		<span class = "content">
			<div class="all_comments_author">
				<% if !comment.user_id.nil? %>
					<% user=User.find(comment.user_id) %>
				<% end %>
				<%= gravatar_for user, size: 52 %>
				<% if user.nil? %>
					<%= comment.author %>
				<% else %>
					<%= link_to user.name, user_path(user.id) %>
				<% end %>
			</div>
			<pre ><div class="all_comments_content"><%= comment.content %></div></pre>
			<% if current_user.admin? %>
				<%= link_to "删除", comment,  method: :delete,
									data: { confirm: "确定删除？"} %>
			<% end %>
		</span>
	</li>
</div>