<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
      	<%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
    	<%= render 'user_item_relationship_stats' %>
    </section>
  </aside>

  <div class = "span9">
    <%= will_paginate @relation_items %>
      <%= render 'shared/item_gridview' , object: @relation_items %>
    <%= will_paginate @relation_items %>
  </div>
</div>