<li>
	<% pictures = Item.find_pictures(object) %>
	<% if(!pictures.nil?) %>
		<% pictures.each do |picture| %>
			<% if File.basename(picture) != object.id.to_s() %>
				<%= image_tag("/pictures/"+object.id.to_s()+"/"+File.basename(picture), :size => "120") %>
				<% break %>
			<% end %>
		<% end %>
	<% end %>
	<% brand = Brand.find(object.brand_id) %>
	<% single_item_name=brand.brand_english+" "+object.item_english+"-"+brand.brand_chinese+object.item_chinese %>
	<%= link_to brand.brand_english, brand_path(brand.id) %> 
	<%= link_to object.item_english, item_path(object.id) %> -
	<%= brand.brand_chinese+object.item_chinese%>
	<% if !object.character.nil? && object.character!=""%>
		性质：<%= object.character %>
	<% end %>
</li>

