<div class="prodImg">
	<% if !object.image.nil? %>
		<%= image_tag url_for(:controller => "items", :action => "show_image", :id => object.id), size: "220" %>
	<% end %>
</div>
<div>
	<div class="info">
		<span class="productDetails">
			<% brand = Brand.find(object.brand_id) %>
			<span class="brandName"><%= link_to brand.brand_english, brand_path(brand.id) %></span>
			<span class="proddesc"><%= link_to object.item_english, item_path(object.id) %></span>
			<span class="proddesc">
				 -
				<%= brand.brand_chinese+object.item_chinese%>
			</span>
			<br>
			<span>
				<% if !object.character.nil? && object.character!=""%>
					性质：<%= object.character %>
				<% end %>
			</span>
		</span>
	</div>
</div>