<div class="new_comment_form">
	<%= form_for Comment.new do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <div class="field">
	  	<div class="new_comment_content">
	    	<%= f.text_area :content, placeholder: "添加新的评论..." %>
	    </div>
	    <div class="new_comment_author">
	    	<% if current_user.admin? %>
		    	<%= f.text_area :author, placeholder: "作者..."  %>
		    <% end %>
	    </div>
	    <%= hidden_field_tag 'item_id', @item.id  %>
	  </div>
	  <%= f.submit "提交", class: "btn btn-primary" %>
	<% end %>
</div>