<% provide(:title, "编辑物品") %>

<script type="text/javascript">
  var subcategories = new Array();

  <% for subcategory in @subcategories %>
    subcategories.push(new Array(<%= subcategory.category_id %>, '<%=h subcategory.name %>', <%= subcategory.id %>));
  <% end %>
//alert($('item_category_id').getValue());
  function categorySelected() {
    var category_id = $('#item_category_id').val();
    $("#item_subcategory_id").empty();
    for(i=0; i<subcategories.length; i++){
      subcategory = subcategories[i];
      if (subcategory[0] == category_id) {
        $("#item_subcategory_id").append("<option value='"+subcategory[2]+"'>"+subcategory[1]+"</option>");
      }
    }
  }

  function setSelected(selectObj,optionsText){
    for(var i=0;i<selectObj.options.length;i++){
      if(selectObj.options[i].value==optionsText){
        selectObj.options[i].selected=true;
        return i;
      }
    }
  }

  $(document).ready(function(){
    var category_id = $('#item_category_id').val();
    var subcategory_id = $('#item_subcategory_id').val();
    categorySelected();
    $('#item_category_id').change(categorySelected);

    setSelected(document.getElementById("item_category_id"), category_id);
    setSelected(document.getElementById("item_subcategory_id"), subcategory_id);
  });
</script>

<div class="row">

  <aside class="span4">
    <section>
      <h1><%= @item.item_name%></h1>
      <% if(!@pictures.nil?) %>
        <% @pictures.each do |picture| %>
          <% if File.basename(picture) != @item.id.to_s() %>
            <%= image_tag(@item.id.to_s()+"/"+File.basename(picture), :size => "38*27") %>
            <%= link_to "删除", "/delete_picture?pictureName=#{File.basename(picture)}&itemID=#{@item.id}" %>
          <% end %>
        <% end %>
      <% end %>
    </section>
  </aside>

  
  <div class="span8">
    <div class="row">
      <%= form_for @item, :html => {:multipart => true} do |f| %>
        <div class="new_and_edit_item_form" %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="field">
            <label for="item_brand_id">品牌:</label>
            <%= f.select :brand_id, @brands, :prompt => "品牌" %>
            <label for="item_category_id">类别:</label>
            <%= f.collection_select :category_id, Category.find(:all), :id, :name, :prompt => "类别" %>
            <p id="subcategory_field">
              <label for="item_subcategory_id">子类别:</label>
              <%= f.collection_select :subcategory_id, Subcategory.find(:all), :id, :name, :promot => "子类别" %>
            </p>
            <label>物品英文名：</label>
            <%= f.text_field :item_english, placeholder: "物品英文名..." %>
            <label>物品中文名：</label>
            <%= f.text_field :item_chinese, placeholder: "物品中文名..." %>
            <label>价格：</label>
            <%= f.text_field :price, placeholder: "价格..." %>
            <label>性质：</label>
            <%= f.text_field :character, placeholder: "性质..." %>
          </div>
          <p><label for="upload_file">添加图片</label> 
          <%= file_field 'upload', 'datafile' %></p>
        </div>
          <%= f.submit "保存", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>