<% provide(:title, @item.item_english) %>

<% brand=Brand.find(@item.brand_id) %>

<%= Category.find(@item.category_id).name %> 
->
<%= link_to Subcategory.find(@item.subcategory_id).name, subcategory_path(@item.subcategory_id) %>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp品牌-><%= link_to brand.brand_english, brand_path(@item.brand_id) %>
<br>
<div class="row">
	<aside class="span4">
		<section>
			<span class="item_brand">
				<%= brand.brand_english+" "+@item.item_english %>
			</span>
			---
			<span class="item_name"><%= brand.brand_chinese+@item.item_chinese %></span>
			<section class="item_other_section">
				<h4>性质</h4>
				<span class="item_other"><%= @item.character %></span>
			</section>
			<section class="item_other_section">
				<h4>价格</h4>
				<span class="item_other"><%= @item.price %></span>
			</section>
			</br>
			<% if !@item.image.nil? %>
				<%= image_tag url_for(:controller => "items", :action => "show_image", :id => @item.id) %>
			<% end %>
			<div class="user_item_relationships">
				<div id = "favourite_form" class="relationshipname">
					<% if current_user.favourite?(@item.id) %>
						<%= render 'unfavourite', object: @item.id %>
					<% else %>
						<%= render 'favourite', object: @item.id %>
					<% end %>
				</div>
				<div id = "plan_form" class="relationshipname">
					<% if current_user.plan?(@item.id) %>
						<%= render 'unplan', object: @item.id %>
					<% else %>
						<%= render 'plan', object: @item.id %>
					<% end %>
				</div>
				<div id = "used_form" class="relationshipname">
					<% if current_user.used?(@item.id) %>
						<%= render 'unuse', object: @item.id %>
					<% else %>
						<%= render 'use', object: @item.id %>
					<% end %>
				</div>
			</div>
		</section>
		<% if current_user.admin? %>
			<span class="item_edit_delete">
				<%=link_to "编辑物品", edit_item_path %>
				<%=link_to "删除物品", @item,  method: :delete,
											data: { confirm: "确定删除？"} %>
			</span>
		<% end %>

		<section>
			<% if @item.item_addrs.any? %>
				<span class="item_brand">物品链接 (<%= @item.item_addrs.count %>)</span>
				<%= will_paginate @item_addrs, :previous_label => "上一页", :next_label => "下一页" %>
      			<ol class="microposts">
        			<%= render @item_addrs %>
     			</ol>
      			<%= will_paginate @item_addrs, :previous_label => "上一页", :next_label => "下一页" %>
    		<% end %>
		</section>
		<% if current_user.admin? %>
			<section>
				<h4>添加链接</h4>
				<%= render 'item_addr_form' %>
			</section>
		<% end %>
	</aside>

	<div class="span8">
		<section>
			<% if @item.comments.any? %>
				<h3>评价(<%= @item.comments.count %>)</h3>
				<%= will_paginate @comments, :previous_label => "上一页", :next_label => "下一页" %>
	      		<ol class="microposts">
	        		<%= render @comments %>
	     		</ol>
	      		<%= will_paginate @comments, :previous_label => "上一页", :next_label => "下一页" %>
	    	<% end %>
	    </section>
	    <br>
	    <br>
    	<section>
    		<h3>添加评论：</h3>
    		<%= render 'comment_form' %>
    	</section>
    </div>
</div>