<%= form_for Category.new do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: "添加新的类别..." %>
    <%= f.text_area :step, placeholder: "步骤..."  %>
  </div>
  <%= f.submit "提交", class: "btn btn-large btn-primary" %>
<% end %>