<%= form_for Category.new do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="category_form">
  <div class="field">
  	<tr>
  		<td>
		    <%= f.text_area :name, placeholder: "新的类别..."%>
		</td>
		<td>
		    <%= f.text_area :step, placeholder: "步骤..."  %>
		</td>
	</tr>
  </div>
  </div>
  <%= f.submit "提交", class: "btn btn-primary" %>
<% end %>