<%= form_for Subcategory.new do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <h5>添加子类别:</h5>
  <div class="category_form">
	  <div class="field">
	  	<td>
	  		<tr>
	    		<%= f.text_area :name, placeholder: "子类别名字..." %>
	    	</tr>
	    	<tr>
	    		<%= f.text_area :step, placeholder: "步骤..."  %>
	    	</tr>
	    	<%= hidden_field_tag 'category_id', @category.id  %>
		</td>
	  </div>
  </div>
  <%= f.submit "提交", class: "btn btn-primary" %>
<% end %>