<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "PearlSkin", root_path, id: "logo" %>
      <% if signed_in? %>
        <nav>
          <ul class="nav pull-left">
            <li><%= link_to "品牌", all_brands_path %></li>
              <% Category.find(:all).each do |category| %>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= category.name %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% (Subcategory.where("category_id=#{category.id}")).each do |subcategory| %>
                      <li><%= link_to subcategory.name, subcategory_path(subcategory.id) %></li>
                      <li class="divider"></li>
                    <% end %>
                  </ul
                </li>
              <% end %>
          </ul>
          <div class="searchDiv">
            <form action="/searchs/search">
              <input type="text" maxlength="30" placeholder="搜索..." name="query_content">
            </form>
          </div>
          <div class="nav pull-right">
            <% if current_user.admin? %>
              <li><%= link_to "添加物品", new_item_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  设置 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "国家", countries_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "品牌", brands_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "类别", categories_path %></li>
                </ul>
              </li>
            <% end %>
            <li id="fat-menu" class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                用户管理 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "我的主页", user_path(current_user)  %></li>
                <li class="divider"></li>
                <li><%= link_to "修改我的信息", edit_user_path(current_user) %></li>
                <% if current_user.admin? %>
                  <li class="divider"></li>
                  <li><%= link_to "创建用户", signup_path  %></li>
                  <li class="divider"></li>
                  <li><%= link_to "所有用户", users_path %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "退出", signout_path, method:"delete" %></li>
              </ul>
            </li>
          </ul>
        </nav>
      <% end %>
    </div>
  </div>
</header>